html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}

.bg-portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.bg-landscape {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#image-bg {
    display: none;
    width: 100vw;
    height: 100vh;
}

button {
    z-index: 1000;
}

.container {
    position: absolute;
    width: 80vw;
    height: 80vh;
    /* opacity: 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-container {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 50vh;
    border: 2px solid black;
    background-color: black;
    overflow:hidden;
}

.arena-bg {
    width: 100%;
    object-fit: cover;
}

#character {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    transition: left .1s ease;
}

.falling-object {
    position: absolute;
    width: 5%;
    margin: -3%;
    padding: 0;
    transition: top 0.1s linear;
}

.akaza {
    position: absolute;
    width: 5%; /* Adjust size */
    transition: top 0.1s linear;
}

#gold-text {
    width: max-content;
    color: rgb(255, 215, 39);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}

#gold-value {
    padding: 1rem;
    margin-left: -1.5rem;
    color: rgb(255, 215, 39);
}

.game-container .gold-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: max-content;
}

.game-container .highest-gold {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: max-content;
    top: 5%;
}

#highest-text {
    width: max-content;
    color: rgb(255, 215, 39);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}

#highest-value {
    padding: 1rem;
    margin-left: -1.5rem;
    color: rgb(255, 215, 39);
}

#gameover-text {
    display: none;
    position: absolute;
    width: max-content;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: gold;
    font-size: 1rem;
}

.start-container {
    position: relative;
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.start-button {
    position: fixed;
    width: 10rem;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.start-button:hover {
    transform: scale(1.1);
}
.start-button:active {
    transform: scale(1);
}

#arrow-button {
    display: none;
    justify-content: center;
    gap: 200px;
    width: 80vw;
    margin-top: 40rem;
}

#arrow-button img {
    width: 20%;
}
.restart {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    display: none;

}

@media screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
    .bg-portrait {
        display: none;
    }

    .bg-landscape {
        display: flex;
        height: 100vh;
    }

    #image-bg {
        display: none;
    }

    .game-container {
        top: 10%;
        height: 35vw;
    }

    .restart {
        top: 6%;
    }
}