html {
  font-size: 12px;
}

.goldman-bold {
    font-family: "Goldman", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .audiowide-regular {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .syncopate-bold {
    font-family: "Syncopate", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  
  
  h1 {
    font-size: 1.5rem;
    font-family: "syncopate", serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-shadow:
          0 0 5px #ff3d9e,
          0 0 10px #ff3df5,
          0 0 20px #402e2e,
          0 0 40px #402e2e,
          0 0 80px #402e2e;
    }
  
    ul li {
      font-size: 0.7rem;
      font-family: "audiowide", serif;
      /* color: #3e402e; */
      /* text-decoration: none; */
      text-transform: uppercase;
    }
  
    ul li a:hover {
      text-shadow:
          0 0 5px #ff3d9e,
          0 0 10px #ff3df5,
          0 0 20px #402e2e,
          0 0 40px #402e2e,
          0 0 80px #402e2e;
    }
    
    h2 {
      font-size: 1.5rem;
      font-family: "syncopate", serif;
      text-transform: uppercase;
      color: azure;
      letter-spacing: 0.1em;
      font-size: 2rem;
      /* text-shadow: 2px 2px 5px black; */
      text-shadow:
          0 0 5px #ff3d9e,
          0 0 10px #ff3df5,
          0 0 20px #402e2e,
          0 0 40px #402e2e,
          0 0 80px #402e2e;
  }
  
  
  strong, p, ul {
    font-family: "saira", serif;
    font-size: 1rem;
    line-height: 2;
  }
  
  h3 {
    font-family: "saira", serif;
    font-size: 1.3rem;
    color: #3e402e;
  }

  @media screen and (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }

  
  @media screen and (min-width: 1024px) {
    html {
      font-size: 24px;
    }
  }